<h2>My Clients</h2>
<div id="displayclients">
<ul class="clients">
  <li *ngFor="let client of clients">
    <a routerLink="detail/{{client.id}}" id="client-{{client.id}}">>
      <span class="badge">{{client.id}}</span> {{client.name}}
    </a>
  </li>
  <li>
    <a routerLink="/client/add" id="btn-client-add">Add Client</a>
  </li>
  <li>
    <a routerLink="/opening/add" id="btn-opening-add">Add Opening</a>
  </li>
  <li>
    <a routerLink="/assignment/add" id="btn-assignment-add">Add Assignment</a>
  </li>
</ul>
</div>
