<div class="container" id="add-new-assignment">
  <div [hidden]="submitted">
    <h1>Add Assignment Form</h1>
    <form (ngSubmit)="onSubmit()" #assignmentForm="ngForm">
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title"
               required
               [(ngModel)]="model.title" title="title"
               #title="ngModel">
        <div [hidden]="title.valid || title.pristine"
             class="alert alert-danger">
          Title is required
        </div>
      </div>
        <br>

      <div class="form-group">
        <label for="role">Role</label>
        <select class="form-control" id="role"
                required
                [(ngModel)]="model.role" name="role"
                #role="ngModel">
          <option *ngFor="let role of roles" [value]="role.id">{{role.name}}</option>
        </select>
        <div [hidden]="role.valid || role.pristine" class="alert alert-danger">
          Role is required
        </div>
      </div>
      <br>

      <div class="form-group">
        <label for="client">Client</label>
        <select class="form-control" id="client"
                required
                [(ngModel)]="model.client" name="client"
                #client="ngModel">
          <option *ngFor="let client of clients" [value]="client.id">{{client.name}}</option>
        </select>
        <div [hidden]="client.valid || client.pristine" class="alert alert-danger">
          Client is required
        </div>
      </div>
      <br>

      <div class="form-group">
        <label for="user">Consultant</label>
        <select class="form-control" id="user"
                required
                [(ngModel)]="model.user" name="user"
                #user="ngModel">
          <option *ngFor="let user of users" [value]="user.id">{{user.name}}</option>
        </select>
        <div [hidden]="user.valid || user.pristine" class="alert alert-danger">
          Consultant is required
        </div>
      </div>
      <br>

      <div class="form-group">
      <label for="openDate">openDate</label>
        <input type="text" class="form-control" id="openDate"
               required
               [(ngModel)]="model.openDate" openDate="openDate"
               #openDate="ngModel">
        <div [hidden]="openDate.valid || openDate.pristine"
             class="alert alert-danger">
          openDate is required
        </div>
      </div>
      <br>
      <div class="form-group">
        <label for="closeDate">closeDate</label>
        <input type="text" class="form-control" id="closeDate"
               required
               [(ngModel)]="model.closeDate" closeDate="closeDate"
               #closeDate="ngModel">
        <div [hidden]="closeDate.valid || closeDate.pristine"
             class="alert alert-danger">
          closeDate is required
        </div>
      </div>
      <br>
      <div class="form-group">
        <label for="rate">rate</label>
        <input type="text" class="form-control" id="rate"
               required
               [(ngModel)]="model.rate" rate="rate"
               #rate="ngModel">
        <div [hidden]="rate.valid || rate.pristine"
             class="alert alert-danger">
          rate is required
        </div>
      </div>

      <button type="submit" class="btn btn-success" id="btn-submit" [disabled]="!assignmentForm.form.valid">Submit</button>
      <button type="button" class="btn btn-default" (click)="newAssignment(); assignmentForm.reset()">New Assignment</button>
    </form>
  </div>

  <div [hidden]="!submitted" id="display-new-assignment-no-submit">
    <h2>You submitted the following:</h2>
    <div class="row">
      <div class="col-xs-3">Title</div>
      <div class="col-xs-9">{{ model.title }}</div>
    </div>
    <br>
    <div class="row">
      <div class="col-xs-3">Role</div>
      <div class="col-xs-9">{{ model.role }}</div>
    </div>
    <br>
    <div class="row">
      <div class="col-xs-3">Client</div>
      <div class="col-xs-9">{{ model.client }}</div>
    </div>
    <br>
    <div class="row">
      <div class="col-xs-3">Consultant</div>
      <div class="col-xs-9">{{ model.user }}</div>
    </div>
    <br>
    <div class="row">
      <div class="col-xs-3">Open Date</div>
      <div class="col-xs-9">{{ model.openDate }}</div>
    </div>
    <br>
    <div class="row">
      <div class="col-xs-3">Close Date</div>
      <div class="col-xs-9">{{ model.closeDate }}</div>
    </div>
    <br>
    <button class="btn btn-primary" (click)="submitted=false">Edit</button>
  </div>
</div>
