<div class="container" id="add-new-status">
  <div [hidden]="submitted">
    <h1>Add Status Form</h1>
    <form (ngSubmit)="onSubmit()" #statusForm="ngForm">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name"
               required
               [(ngModel)]="model.name" name="name"
               #name="ngModel">
        <div [hidden]="name.valid || name.pristine"
             class="alert alert-danger">
          Name is required
        </div>
      </div>

      <button type="submit" class="btn btn-success" id="btn-submit" [disabled]="!statusForm.form.valid">Submit</button>
      <!--      <button type="button" class="btn btn-default" (click)="newStatus(); statusForm.reset()">New Status</button>-->
    </form>
  </div>

  <div [hidden]="!submitted" id="display-new-status">
    <h2>You submitted the following:</h2>
    <div class="row">
      <div class="col-xs-3">Name</div>
      <div class="col-xs-9">{{ model.name }}</div>
    </div>
    <br>
    <button class="btn btn-primary" (click)="submitted=false">Edit</button>
  </div>
</div>
