<h1>{{title}}</h1>
<nav>
  <a routerLink="/dashboard" id="btn-dashboard">Dashboard</a>
  <a routerLink="/clients" id="btn-client-home">Clients</a>
  <a routerLink="/practices" id="btn-practice-home">Practices</a>
  <a routerLink="/regions" id="btn-region-home">Regions</a>
  <a routerLink="/roles" id="btn-role-home">Roles</a>
  <a routerLink="/statuses" id="btn-status-home">Statuses</a>
  <a routerLink="/users" id="btn-user-home">Users</a>
</nav>
<router-outlet></router-outlet>
<app-messages></app-messages>
