<h1>{{title}}</h1>
<nav>
  <a routerLink="/dashboard" id="btn-dashboard">Dashboard</a>
  <a routerLink="/clients" id="btn-clients-home">Clients</a>
  <a routerLink="/practices" id="btn-practices-home">Practices</a>
  <a routerLink="/regions" id="btn-regions-home">Regions</a>
  <a routerLink="/roles" id="btn-roles-home">Roles</a>
  <a routerLink="/statuses" id="btn-statuses-home">Statuses</a>
  <a routerLink="/users" id="btn-users-home">Users</a>
</nav>
<router-outlet></router-outlet>
<app-messages></app-messages>
