<div *ngIf="user" id="user-{{user.id}}-home">
  <h2>{{user.name | uppercase}} Details</h2>
  <div><span>id: </span>{{user.id}}</div>
  <div>
    <label for="user-name">User name: </label>
    <input id="user-name" [(ngModel)]="user.name" placeholder="User name"/><br>
    <app-user-roles></app-user-roles>
    <app-user-practices></app-user-practices>
<!--    <label for="user-role">User role: </label>-->
<!--    <input id="user-role" [(ngModel)]="role.name" placeholder="User role"/><br>-->
<!--    <label for="user-role-list">User Role: </label>-->
<!--        <select-->
<!--          class="form-control" id="user-role-list" #userRole-->
<!--          [(ngModel)]="roles">-->
<!--          required (change)="log()" >-->
<!--          <option [ngValue]="null">-->
<!--          </option>-->
<!--          <option-->
<!--            *ngFor="let role of roles"-->
<!--            [ngValue]="role">-->
<!--            {{role.name}}-->
<!--          </option>-->
<!--        </select>-->
  </div>
</div>
